@charset "utf-8";
/* CSS Document */
*{
	margin: 0 auto;
}
.background{
	background: url(Background1.jpg);
	height:750px;
}
.whiteBackground{
	background: url(background.jpg);
	opacity:0.6;
	height:400px;
	width:800px;
	z-index:0;
	left:370px;
	margin-top:180px;
	position: absolute;
}
img{
	height:200px;
	width:550px;
	margin-left:485px;
	margin-top:280px;
	z-index: 2;
	position: absolute;
}


